.portfolio { 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
} 

.port-card { 
	padding: 0 !important; 
	background: none !important; 
	border: 2px solid #000;
	width:500px; 
} 

.port-card .image { 
	width: 100%; 
} 

.port-card .image img { 
	height: 200px; 
	width: 100%; 
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px; 
	transition: transform 0.3s ease-in-out;
} 
.port-card .image img:hover {
    transform: scale(1.1);
}
.my-row { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 

.my-row .my-col { 
	text-align: center; 
	width: 30%; 
} 
.my-heading-text-center {
      text-align: center;
}